---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  <div class="share">
    Share this article:
    <a target="_blank" title="Share on Twitter" href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&amp;text={{ page.title | uri_escape }}&amp;via=SitnikAdam"><img src="{{ site.url }}/images/social/Twitter.svg" height=27 width=27></a>&nbsp;
    <a target="_blank" title="Submit to Reddit" href="https://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&amp;title={{ page.title | uri_escape }}"><img src="{{ site.url }}/images/social/Reddit.svg" height=27 width=27></a>&nbsp;
    <a target="_blank" title="Submit to Hacker News" href="https://news.ycombinator.com/submitlink?u={{ site.url }}{{ page.url }}&amp;t={{ page.title | uri_escape }}"><img src="{{ site.url }}/images/social/HackerNews.svg" height=27 width=27></a>&nbsp;
    <a target="_blank" title="Share on Facebook" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}&amp;t={{ page.title | uri_escape }}"><img src="{{ site.url }}/images/social/Facebook.svg" height=27 width=27></a>&nbsp;
    <a target="_blank" title="Share on LinkedIn" href="https://www.linkedin.com/shareArticle?mini=true&amp;{{ site.url }}{{ page.url }}&amp;title={{ page.title | uri_escape }}"><img src="{{ site.url }}/images/social/LinkedIn.svg" height=27 width=27></a>&nbsp;
  </div>
    
  {% include disqus.html %}
</article>
